
<div class="card-primary card-secondary">
  <div class="mt-20">
    <ul class="text-center">
      <!-- <li class="text-center balls-disabled"
          *ngFor="let ball of balls; let index = index">{{ ball }}</li> -->
      <li class="text-center balls-disabled"
          *ngFor="let ball of balls; let index = index"></li>
    </ul>
  </div>

  <div class="text-center">
    <div class="display-inline text-input">
      0x
    </div>
    <div class="display-inline">
      <input class="input" type="text" />
    </div>
    <div class="display-inline ml-20 mt-20 mb-20">
      <a class="btn-ok">
        OK
      </a>
    </div>
  </div>

</div>

<div class="text-center mt-20">
  <span>Total: 500$</span>
</div>
<div class="text-center mt-20">
  <a class="btn-place">
    Place bet
  </a>
</div>
