/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #F3F2F8;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: grid;

}

.grid-1_5 {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  grid-gap: 1rem;
}

.grid-3_5 {
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

.card-primary {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  min-height: 410px;
}

.card-secondary {
  min-height: 300px !important;
}

.balls > li {
  border-radius: 50px;
  line-height: 40px;
  list-style: none;
  width: 40px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.balls-disabled > li {
  width: 30px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  height: 30px;
}

.balls-disabled > li > span {
  border-radius: 50px;
  line-height: 30px;
  width: 100%;
  display: inline-block;
  background-color: #cecece;
  height: 100%;
}

.text-center {
  text-align: center;
}

.ml-40{
  margin-left: 40px;
}

.btn-primary {
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
}

.btn-clear {
  background: none;
  color: #3265b7;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 16px;
}

.btn-place{
  display: block;
  background-color: #3265b7;
  padding: 15px 0 15px 0;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  width: 100%;
}

.btn-place:disabled{
  background-color: #7395cc;
  cursor:not-allowed;
}

.btn-ok {
  background-color: #3265b7;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.btn-ok:disabled {
  background-color: #c0cee6;
  cursor:not-allowed;
}

.btn-ok {
  background-color: #3265b7;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;

}

.m-20{
  margin: 20px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.ml-20{
  margin-left: 20px;
}

.p-0{
  padding: 0px !important;
}

.display-inline {
  display: inline-block;
}

.text-input{
  background-color: #dedede;
  padding: 10px 20px 10px 20px;
}

.input{
  height: 35px;
  border: 1px solid #dedede;
  text-align: center;
  width: 110px;
}

.text-win {
  text-transform: uppercase;
  font-weight: 500;
  color: #1a8000;
  font-size: 20px;
}

.text-danger {
  font-weight: 500;
  color: #ba0000;
  font-size: 16px;
}

@media screen and (max-width: 780px) {
  .m-20{
    margin: 0px;
  }

	.grid-1_5 {
    display: inline-block;
    width: 100%;
    grid-gap: 1rem;
  }

  .grid-3_5 {
    display: inline-block;
    width: 100%;
    grid-gap: 1rem;
  }
}
